@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Taviraj&display=swap");
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family:"Noto Sans Thai", sans-serif ;
}
/* .body-container{
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.Container-About{
    /* background-color: #333; */
    /* color: #fff; */
    font-weight: 700;
    padding: 3.5rem;
    text-align: center;
}
.Container-About h1{
    font-weight: 700;
}
.Block-Content{
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    /* border:2px solid #333; */
}